@using MyFirstWebApp.Models
@model IEnumerable<Person>


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "People", FormMethod.Post))
{
    var person = new Person();
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset class="form-horizontal">
        <legend>Person</legend>
        <div class="Control-group">

            @Html.LabelFor(Model => person.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(Model => person.Name)
                @Html.ValidationMessageFor(Model => person.Name, null, new { @class = "help-inline" })
            </div>
        </div>
        <div class="Control-group">
            @Html.LabelFor(Model => person.PhoneNO, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(Model => person.PhoneNO)
                @Html.ValidationMessageFor(Model => person.PhoneNO, null, new { @class = "help-inline" })
            </div>
        </div>
        <div class="Control-group">
            @Html.LabelFor(model => person.City, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => person.City)
                @Html.ValidationMessageFor(model => person.City, null, new { @class = "help-inline" })
            </div>
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Create" class="btn" />
        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "People")
</div>



