@using MyFirstWebApp.Models
@model IEnumerable<Person>
@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>People List</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Search", "People", FormMethod.Get))
{
    <div>
        Search By Name: @Html.TextBox("Name")
        Search By City: @Html.TextBox("City")
        <input type="submit" value="Filter" />
    </div>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.ActionLink("Name", "Sort", new { sortOrder = ViewBag.NameSortParm })</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNO)</th>
            <th>@Html.ActionLink("City", "Sort", new { sortOrder = ViewBag.CitySortParm })</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
     @foreach (var item in Model)
        {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNO)</td>
                    <td>@Html.DisplayFor(modelItem => item.City)</td>
                    <td>@Html.ActionLink("Delete","Delete", new { id= item.Id })</td>
                </tr>
        }
        
    </tbody>
</table>


