@model  MyFirstWebApp.Models.Person




<div class="row" id=" @("PersonId" + Model.Id)">
    <div class="col-md-4">
        @Model.Name
    </div>
    <div class="col-md-2">
        @Model.PhoneNO
    </div>
    <div class="col-md-2">
        @Model.City
    </div>
    <div class="col-md-2">
        @Ajax.ActionLink("Edit", "EditPerson", new { id = Model.Id },
                              new AjaxOptions
                              {
                                  UpdateTargetId = "PersonId" + Model.Id,
                                  InsertionMode = InsertionMode.ReplaceWith
                              }
                           )
    </div>
    <div class="col-md-2">
        @Ajax.ActionLink("Delete", "Delete", new { id = Model.Id },
                               new AjaxOptions
                               {
                                   UpdateTargetId = "PersonId" + Model.Id,
                                   InsertionMode = InsertionMode.ReplaceWith
                               }
                            )
    </div>
</div>
