@using MyFirstWebApp.Models
@model List<Person>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<br /><br /><br /><br />
<div class="row">
    @using (Ajax.BeginForm("CreatePerson",
new AjaxOptions
{
    InsertionMode = InsertionMode.InsertBefore,
    UpdateTargetId = "EndOfPersonList"
}
))
    {
        Person person = new Person();
        @Html.HiddenFor(Model => person.Id)
        @Html.LabelFor(Model => person.Name)
        @Html.EditorFor(Model => person.Name)
        @Html.LabelFor(model => person.PhoneNO)
        @Html.EditorFor(Model => person.PhoneNO)
        @Html.LabelFor(Model => person.City)
        @Html.EditorFor(Model => person.City)
        <input type="Submit" value="Create" />


    }
</div><hr />
@using (Ajax.BeginForm("Search", new AjaxOptions
{
    //HttpMethod = "Get",
    UpdateTargetId = "SearchResults",
    InsertionMode = InsertionMode.Replace
}))
{
    <div>
        @Html.DisplayName("Search by Name/City")
        @Html.TextBox("filterName")
        <input type="submit" value="Filter" />
    </div>

}

    <div class="row">
        <div class="col-md-12" id="SearchResults">
            @Html.Partial("_SearchPersonList")
        </div>
    </div>
<br />

    