@using MyFirstWebApp.Models
@model PagedList.IPagedList<Person>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<br /><br /><br /><br />
<div class="row">
    @using (Ajax.BeginForm("CreatePerson",
new AjaxOptions
{
    InsertionMode = InsertionMode.InsertBefore,
    UpdateTargetId = "startOfPersonList"
}
))
    {
        Person person = new Person();
        @Html.HiddenFor(Model => person.Id)
        @Html.LabelFor(Model => person.Name)
        @Html.EditorFor(Model => person.Name)
        @Html.LabelFor(model => person.PhoneNO)
        @Html.EditorFor(Model => person.PhoneNO)
        @Html.LabelFor(Model => person.City)
        @Html.EditorFor(Model => person.City)
        <input type="Submit" value="Create" />


    }
</div><br />
<form method="get" action="@Url.Action("Index")"
      data-otf-ajax="true" data-otf-target="#personList">
    <input type="search" name="searchingterm" />
    <input type="submit" value="Search BY Name" />
</form>
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model)
        {
            Html.RenderAction("ListItemPerson", new { id = item.Id });
        }
        <span id="EndOfPersonList"></span>
    </div>

</div>
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@

@<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(function () {
        {
            var ajaxFormSubmit = function () {
                var $form = $(this);
                var options = {
                    url: $form.attr("action"),
                    type: $form.attr("method"),
                    data: $form.serialize()
                };
                $.ajax(options).done(function (data) {
                    var $target = $($form.attr("data-otf-target"));
                    $target.replaceWith(data);
                });
                return false;
            };
            $("form[data-otf-ajax='true']").submit(ajaxFormSubmit);
        });
</script>



