@model IEnumerable<MyFirstWebApp.Models.Person>

<h2>Partial View</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
     </tr>
}
</table>
